/*****************************
	COLOR PALETTE
 	orange: #ED4732
	black: #141414
	mid-gray: #ACACAC
	light-gray: #DEDEDE
	white: #F8F8F8
	green: #5FA4A0
*****************************/

/* Normalization */
* {margin:0px;padding:0px;}
a img{border: none;}
input{font-family: verdana, sans-serif;}
textarea{font-family: verdana, sans-serif;}
p{line-height:1.4em;}
a {color: #f36b22;text-decoration:none;outline: none;}
ul{list-style-type: none;}

body{
	background: #141414;
	background: #F8F8F8;
	color: #141414;
	font: 14px/18px normal 'Helvetica Neue', Helvetica, arial, sans-serif;
}
a,a:hover{
	color: #ED4732;
	text-decoration: none;
}
h2{
	font-size: 18px;
	line-height: 28px;
}
h3{
	font-size: 15px;
	line-height: 25px;
	color: #5FA4A0;
}
#event-wrapper ul .concert{border-color:#F29966;}
#event-wrapper ul .rose{border-color:#CC9999;}
#event-wrapper ul .gold{border-color: #CCAD5C;}
#event-wrapper ul .sea{border-color: #005680;}
#event-wrapper ul .zen{border-color: #74C499;}
#event-wrapper ul .adobe{border-color: #C1C09B;}
#event-wrapper ul .marina{border-color: #005D66;}

/* @group Header */
header{
	text-align: center;
	color: #dedcb9;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 10000;
	-moz-box-shadow: inset 0 -4px 16px rgba(0,0,0,0.5), 0 1px 5px rgba(0,0,0,0.5);
	-webkit-box-shadow: inset 0 -4px 16px rgba(0,0,0,0.5), 0 1px 5px rgba(0,0,0,0.5);
	box-shadow: inset 0 -4px 16px rgba(0,0,0,0.5), 0 1px 5px rgba(0,0,0,0.5);
	background: #ED4732;
	min-height: 22px;
	padding: 6px 0 0;
	color: #F8F8F8;
	text-shadow: 0 1px 1px rgba(0,0,0,0.5), 0 -1px 1px, 0 -1px 1px rgba(0,0,0,0.5);
}
header h1{
	font-size: 14px;
	line-height: 18px;
	margin: 0;
	padding: 0;
	display: block;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
header a{
	color: #F8F8F8;
	background-size: auto 100%;
	display: block;
}
header a:hover{
	color: #F8F8F8;
}
/* @end */

/* @group Main sections */
section{
	margin: 0;
	padding: 0;
	position: relative;
	top: 27px; /* heading height + extra */
	background: #F8F8F8;
	width: 95%;
	margin: 0 auto;
	-moz-box-shadow: inset 0 0 25px rgba(0,0,0,0.2);
	-webkit-box-shadow: inset 0 0 25px rgba(0,0,0,0.2);
	box-shadow: inset 0 0 25px rgba(0,0,0,0.2);
	float: none;
	position: absolute;
	top: 30px;
	left: 0;
}
#event-wrapper ul{
	width: 96%;
	margin: 0 auto;
}
#event-wrapper ul ul ul{
	width: 90%;
	margin: 0 0 0 20px;
}
#event-wrapper .event-item{
	border: 1px solid #DEDEDE;
	position: relative;
	margin-top: -1px;
}
#event-wrapper .event-item:hover{
	cursor:pointer;
	cursor:hand;
}
#event-wrapper .event{
	border-left: 8px solid #fff;
	padding: 10px 5px 10px 0;
}
#event-wrapper .event-title{
	display: block;
	font-weight: bold;
	margin: 0 10px;
}
#event-wrapper .speaker-name,
#event-wrapper .speaker-company{
	color: #ACACAC;
	font-size: 12px;
	margin: 0 0 0 10px;
}
#event-wrapper .status{
	position: absolute;
	left: -25px;
	top: 17px;
	color: #5FA4A0;
	font-size: 28px;
}
#event-wrapper .checked:before {
   content:  "\2713 ";
}
/* @end */
/* @group */
#event-details{
	width: 90%;
	margin: 0 auto;
	overflow: hidden;
}
#event-details #interested-btn.active{
	opacity: .7;
}
#event-details #interested-btn.active span:before{
	content:  "\2713 ";
	color: #5FA4A0;
	margin: 0 5px 0 0;
}
#event-details .event-title{
	font-weight: bold;
	clear: both;
}
#event-details .event-description{
	margin: 0 0 10px;
}
#event-details .speaker-pic{
	float: left;
	width: 95px;
	height: 95px;
	overflow: hidden;
	margin: 0 10px 10px 0;
}
#event-details .speaker-pic img{
	width: 95px;
}
#event-details .speaker span{
	display: block;
}
#event-details .speaker-name{
	font-weight: bold;
}
#event-details .speaker-company,
#event-details .speaker-title{
	font-size: 12px;
	color: #ACACAC;
}
#event-details .pager{
	float: left;
}
#event-details #actions{
	float: right;
	margin: 19px 0;
}
/* @end */

/* @group Footer */
footer{
	text-align: center;
	padding: 0;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	z-index: 10000;
	padding: 2px 0;
	overflow: hidden;
	background: #ACACAC;
	font-size: 12px;
	color: #141414;
	-moz-box-shadow: inset 0 -4px 20px rgba(0,0,0,0.5), 0 -1px 40px rgba(0, 0, 0, 0.4);
	-webkit-box-shadow: inset 0 -4px 20px rgba(0,0,0,0.5), 0 -1px 40px rgba(0, 0, 0, 0.4);
	box-shadow: inset 0 -4px 20px rgba(0,0,0,0.5), 0 -1px 40px rgba(0, 0, 0, 0.4);
	text-shadow: 0 1px 1px rgba(255,255,255,0.5), 0 -1px 5px rgba(0,0,0,0.5);
}

/* @end */

/* -- general styles, including Y axis rotation -- */
section #event-wrapper {
	float: left;
	position: absolute;
	top: 0;
	left: 0;
	-webkit-transform: rotateX(0deg) rotateY(0deg) translateZ(0);
	-webkit-transform-style: preserve-3d;
	-webkit-backface-visibility: hidden !important;
	-webkit-transition: all .4s ease-in-out;
	background: #F8F8F8;
	width: 100%;
}
section.flip #event-wrapper {
	-webkit-transform: rotateY(180deg) translateZ(0);
}
		
section #event-details {
	float: none;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 900;
	-webkit-transform: rotateY(-180deg);
	-webkit-transform-style: preserve-3d;
	-webkit-backface-visibility: hidden !important;
	-webkit-transition: all .4s ease-in-out;
	background: #F8F8F8;
	width: 100%;
}
		
section.flip #event-details {
	-webkit-transform: rotateX(0deg) rotateY(0deg);
}
