/*****************************
	COLOR PALETTE
 	orange: #ED4732
	black: #141414
	mid-gray: #ACACAC
	light-gray: #DEDEDE
	white: #F8F8F8
	green: #5FA4A0
*****************************/

/* Normalization */
* {margin:0px;padding:0px;}
a img{border: none;}
input{font-family: verdana, sans-serif;}
textarea{font-family: verdana, sans-serif;}
p{line-height:1.4em;}
a {color: #f36b22;text-decoration:none;outline: none;}
ul{list-style-type: none;}

body{
	background: #141414;
	color: #141414;
	font: 14px/18px normal 'Helvetica Neue', Helvetica, arial, sans-serif;
}
a,a:hover{
	color: #ED4732;
	text-decoration: none;
}
.event-wrapper ul{
	width: 96%;
	background: #F8F8F8;
}
.event-wrapper ul li{
	border-left: 8px solid #fff;
	padding: 10px 5px;
	margin-left: 20px;
}
.event-wrapper ul .concert{border-color:#F29966;}
.event-wrapper ul .rose{border-color:#CC9999;}
.event-wrapper ul .gold{border-color: #CCAD5C;}
.event-wrapper ul .sea{border-color: #005680;}
.event-wrapper ul .zen{border-color: #74C499;}
.event-wrapper ul .adobe{border-color: #C1C09B;}
.event-wrapper ul .marina{border-color: #005D66;}

/* @group Header */
header{
	text-align: center;
	color: #dedcb9;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 10000;
	-moz-box-shadow: inset -4px -4px 16px rgba(0,0,0,0.5);
	-webkit-box-shadow: inset -4px -4px 16px rgba(0,0,0,0.5);
	box-shadow: inset -4px -4px 16px rgba(0,0,0,0.5);
	background: #ED4732;
	min-height: 22px;
	padding: 6px 0 0 20px;
	color: #F8F8F8;
	text-shadow: 0 1px 1px rgba(0,0,0,0.5), 0 -1px 1px, 0 -1px 1px rgba(0,0,0,0.5), 0 -1px 1px;
}
header h1{
	font-size: 14px;
	line-height: 18px;
	margin: 0;
	padding: 0;
	display: block;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
header a{
	color: #F8F8F8;
	background-size: auto 100%;
	display: block;
}
header a:hover{
	color: #F8F8F8;
}
/* @end */

/* @group Footer */
footer{
	text-align: center;
	padding: 0;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	z-index: 10000;
	padding: 2px 0;
	overflow: hidden;
	background: #ACACAC;
	font-size: 12px;
	color: #141414;
	-moz-box-shadow: inset -4px -4px 20px rgba(0,0,0,0.5);
	-webkit-box-shadow: inset -4px -4px 20px rgba(0,0,0,0.5);
	box-shadow: inset -4px -4px 20px rgba(0,0,0,0.5);
	text-shadow: 0 1px 1px rgba(255,255,255,0.5);
}

/* @end */

/* @group Footer */
section{
	margin: 0;
	padding: 0;
	position: relative;
	top: 70px; /* heading height + extra */
	background: white;
}

/* @end */
